In [2]:
import pandas as pd

In [12]:
filename = '시도별_등록외국인수_2005_2019'

df = pd.read_excel(filename+'.xls', header=[0], index_col=[0])
df.to_csv(filename+'.csv', encoding="utf-8-sig")

In [9]:
df.to_csv(filename+'.csv', encoding="utf-8-sig")

In [6]:
df

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
강원,1297,1301,1268,1256,1401,1310,1265,1234,1066,909,959,708,777,679,492
경기,6369,7267,6939,6393,6236,7163,7120,7180,6543,5765,6032,4961,5020,5090,4140
경남,1668,2002,1853,1696,1839,1590,1486,1592,1569,1431,1397,981,926,958,870
경북,2262,2520,2381,2283,2297,2090,2157,2051,1710,1664,1596,1268,1207,1190,1060
광주,701,902,849,848,1172,1167,1104,1207,1058,913,874,764,688,675,549
대구,1531,1739,1582,1409,1470,1510,1417,1395,1281,1219,1134,938,890,890,702
대전,669,749,725,736,914,792,849,930,931,751,736,665,556,594,472
부산,1525,1737,1298,1141,1271,1169,1155,1226,1166,996,1024,789,709,743,636
서울,3510,3914,3853,3481,3529,3910,3700,3819,3550,3361,3453,2874,2864,2856,2190
세종,0,0,0,0,0,0,0,50,78,81,98,93,89,98,89
울산,568,774,726,765,796,744,839,900,871,874,807,603,523,567,373
인천,1471,1436,1330,1360,1352,1439,1562,1499,1331,1180,1185,1049,1000,938,770
전남,1375,1548,1475,1469,1585,1462,1354,1344,1325,1156,1176,904,905,908,793
전북,1045,1187,1152,1086,1283,1177,1083,1193,1003,882,920,753,772,683,579
제주,293,365,354,313,347,349,350,458,416,415,466,365,319,322,296
충남,1397,1562,1630,1646,1688,1783,1760,1782,1529,1411,1461,1203,1369,1308,1019
충북,779,987,1001,991,1027,986,1260,1233,1162,1035,1081,851,903,882,678
합계,26460,29990,28416,26873,28207,28641,28461,29093,26589,24043,24399,19769,19517,19381,15708