In [1]:
import pandas as pd

In [4]:
df1 = pd.read_excel('시도구군별_음주운전_데이터_2005_2019.xls', header=[0], index_col=[0,1])
df1

         2005   2006   2007   2008   2009   2010   2011   2012   2013   2014  \
강원 강릉시    245    221    239    166    207    175    174    160    143    130
   고성군     21     14     21     21     27     29     30     19     26     10
   동해시     52     49     49     44     59     58     46     51     48     34
   삼척시     49     40     33     34     40     19     27     48     39     40
   속초시     90     78     62     72     89     92     89     77     59     68
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
충북 청원군     78     96     96    122    111    110    129    140    127     50
   청주시    314    386    369    364    413    432    499    542    498    513
   충주시     94    137    212    145    141    112    191    147    150    137
   합계     779    987   1001    991   1027    986   1260   1233   1162   1035
합계 합계   26460  29990  28416  26873  28207  28641  28461  29093  26589  24043

         2015   2016   2017   2018   2019
강원 강릉시    128    109    109     77     78
   고성군     10     11     11      9      8
   동해시     52     30     23     21     20
   삼척시     37     27     22     30     17
   속초시     69     45     46     42     28
...       ...    ...    ...    ...    ...
충북 청원군      0      0      0      0      0
   청주시    594    446    453    433    356
   충주시    134    113    112    127     94
   합계    1081    851    903    882    678
합계 합계   24399  19769  19517  19381  15708

[254 rows x 15 columns]

In [12]:
df1 = df1.xs('합계', level=1)
df1

AttributeError: 'Index' object has no attribute 'get_loc_level'

In [13]:
df1.to_excel('시도구군별_음주운전_데이터_2005_2019.xls')

In [8]:
df2 = pd.read_excel('행정구역_시군구별_인구수_2005_2019.xls', header=[0], index_col=[0,1])
df2

            2005      2006      2007      2008      2009      2010      2011  \
강원 강릉시    224391    222016    220484    218399    217464    218503    217571
   고성군     31964     31285     30383     30172     30272     30112     30057
   동해시     99230     97497     96652     95652     95271     95236     95804
   명주군         0         0         0         0         0         0         0
   삼척군         0         0         0         0         0         0         0
...          ...       ...       ...       ...       ...       ...       ...
충북 청주시    630939    626679    633286    638663    643161    655971    661946
   충주시    205907    204610    205064    206372    206613    208481    208433
   합계    1488803   1494559   1506608   1519587   1527478   1549528   1562903
   흥덕구    372341    370340    382728    392319    399384    414382    420325
합계 합계   48782274  48991779  49268928  49540367  49773145  50515666  50734284

            2012      2013      2014      2015      2016      2017      2018  \
강원 강릉시    217741    216806    215807    214560    213846    213952    212957
   고성군     30124     30398     30269     30060     30114     30029     28144
   동해시     93897     95143     94562     93895     93297     92851     91272
   명주군         0         0         0         0         0         0         0
   삼척군         0         0         0         0         0         0         0
...          ...       ...       ...       ...       ...       ...       ...
충북 청주시    666852    672904    831521    831912    835197    835590    837749
   충주시    208447    208115    208527    207913    208350    208316    210504
   합계    1565628   1572732   1578933   1583952   1591625   1594432   1599252
   흥덕구    426419    426776    252027    253426    253563    253912    254302
합계 합계   50948272  51141463  51327916  51529338  51696216  51778544  51826059

            2019
강원 강릉시    213442
   고성군     27260
   동해시     90522
   명주군         0
   삼척군         0
...          ...
충북 청주시    839566
   충주시    210737
   합계    1600007
   흥덕구    262137
합계 합계   51849861

[366 rows x 15 columns]

In [15]:
df2 = df2.xs('합계', level=1)

In [16]:
df2.to_excel('행정구역_시군구별_인구수_2005_2019.xls')