In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('시도,시군구별_음주정도별_교통사고_2015_2019.xls', sheet_name='Sheet1', header=[0,1,2], index_col=[0,1,2])
df1.head(10)

사고년도            2015                                                           \
사고년도              합계     음주운전
사고년도              합계       합계 0.05%~0.09% 0.10%~0.14% 0.15%~0.19% 0.20%~0.24%
합계 합계  사고건수  24399.0  24399.0        5972        9529        6076        1949
       사망자수    583.0    583.0         200         160         113          80
       부상자수  42880.0  42880.0       10445       16806       10914        3294
서울 합계  사고건수   3453.0   3453.0         839        1419         887         208
       사망자수     41.0     41.0          14          14           7           3
       부상자수   6205.0   6205.0        1527        2543        1588         365
   종로구 사고건수     68.0     68.0          25          29          11           1
       사망자수      0.0      0.0           0           0           0           0
       부상자수    100.0    100.0          34          47          14           1
   중구  사고건수     57.0     57.0          12          24          17           3

사고년도                                              ...     2019               \
사고년도                                              ...     음주운전
사고년도        0.25%~0.29% 0.30%~0.34% 0.35%이상 측정불응  ...       합계 0.030~0.049%
합계 합계  사고건수         415          87      25  346  ...  15708.0          457
       사망자수          16          11       1    2  ...    295.0           12
       부상자수         677         131      32  581  ...  25961.0          724
서울 합계  사고건수          40           9       1   50  ...   2190.0           46
       사망자수           1           1       1    0  ...     13.0            0
       부상자수          62          13       1  106  ...   3690.0           73
   종로구 사고건수           -           1       -    1  ...     48.0            -
       사망자수           -           0       -    0  ...      0.0            -
       부상자수           -           3       -    1  ...     78.0            -
   중구  사고건수           -           -       -    1  ...     30.0            1

사고년도                                                                     \
사고년도
사고년도        0.05%~0.09% 0.10%~0.14% 0.15%~0.19% 0.20%~0.24% 0.25%~0.29%
합계 합계  사고건수        2935      6593.0        3769        1230         302
       사망자수          77        73.0          69          45          14
       부상자수        4840     10858.0        6343        2019         517
서울 합계  사고건수         387       919.0         566         184          39
       사망자수           6         5.0           2           0           0
       부상자수         691      1507.0         950         306          73
   종로구 사고건수           7        20.0          11           9           -
       사망자수           0         0.0           0           0           -
       부상자수          15        27.0          19          12           -
   중구  사고건수           3        10.0           6           7           3

사고년도
사고년도
사고년도        0.30%~0.34% 0.35%이상 측정불응
합계 합계  사고건수          64      27  331
       사망자수           3       2    0
       부상자수          97      36  527
서울 합계  사고건수           7       4   38
       사망자수           0       0    0
       부상자수          16       8   66
   종로구 사고건수           -       -    1
       사망자수           -       -    0
       부상자수           -       -    5
   중구  사고건수           -       -    -

[10 rows x 51 columns]

In [3]:
df1 = df1.xs('합계', level=1, axis=1).xs('사고건수', level=2)
df1.head(10)

사고년도        2015     2016     2017   2018     2019
사고년도          합계       합계       합계     합계       합계
합계 합계    24399.0  19769.0  19517.0  19381  15708.0
서울 합계     3453.0   2874.0   2864.0   2856   2190.0
   종로구      68.0     77.0     70.0     63     48.0
   중구       57.0     51.0     39.0     70     30.0
   용산구     135.0    118.0    106.0    100     73.0
   성동구      88.0     80.0     79.0     85     61.0
   동대문구    143.0    106.0     94.0     97     63.0
   성북구     101.0    107.0     82.0     86     62.0
   도봉구      60.0     48.0     71.0     44     35.0
   은평구      96.0     82.0     69.0     79     77.0

In [4]:
df2 = pd.read_excel('시도,시군구별_음주정도별_교통사고_2010_2014.xls', sheet_name='Sheet1', header=[0,1,2], index_col=[0,1,2])

In [5]:
df2 = df2.xs('합계', level=1, axis=1).xs('사고건수', level=2)
df2.head(10)

사고년도      2010   2011   2012   2013   2014
사고년도        합계     합계     합계     합계     합계
합계 합계    28641  28461  29093  26589  24043
서울 합계     3910   3700   3819   3550   3361
   종로구      93     75     89     86     74
   중구       76     74     84     68     64
   용산구     104    118     99    131    108
   성동구      85     99    100     94    121
   동대문구    135    130    143    119    122
   성북구     132    110    101    118    103
   도봉구      85     71     78     75     56
   은평구     119    105    109     86     79

In [6]:
df3 = pd.read_excel('시도,시군구별_음주정도별_교통사고_2005_2009.xls', sheet_name='Sheet1', header=[0,1,2], index_col=[0,1,2])
df3 = df3.xs('합계', level=1, axis=1).xs('사고건수', level=2)
df3.head(10)

사고년도        2005     2006   2007   2008   2009
사고년도          합계       합계     합계     합계     합계
합계 합계    26460.0  29990.0  28416  26873  28207
서울 합계     3510.0   3914.0   3853   3481   3529
   종로구      95.0     80.0     99     91    101
   중구       74.0     72.0     95     76     68
   용산구     121.0    133.0    130     85     98
   성동구      82.0     84.0     96     64     90
   동대문구    130.0    132.0    129    133    129
   성북구     106.0    119.0    108    119    146
   도봉구      79.0     82.0     66     72     91
   은평구     118.0    127.0    122    128    110

In [7]:
df = pd.concat([df3,df2,df1], axis=1)
df.head(10)

사고년도     2005   2006 2007 2008 2009 2010 2011 2012 2013 2014   2015   2016  \
사고년도       합계     합계   합계   합계   합계   합계   합계   합계   합계   합계     합계     합계
강원 강릉시  245.0  221.0  239  166  207  175  174  160  143  130  128.0  109.0
   고성군   21.0   14.0   21   21   27   29   30   19   26   10   10.0   11.0
   동해시   52.0   49.0   49   44   59   58   46   51   48   34   52.0   30.0
   삼척시   49.0   40.0   33   34   40   19   27   48   39   40   37.0   27.0
   속초시   90.0   78.0   62   72   89   92   89   77   59   68   69.0   45.0
   양구군   13.0   13.0   12   10   11    7   16   17    7   13   19.0    5.0
   양양군   36.0   36.0   31   28   41   29   30   29   23   19   17.0   13.0
   영월군   30.0   25.0   21   26   23   21   25   10   27    8   14.0   16.0
   원주시  326.0  335.0  299  278  357  363  339  368  313  254  278.0  205.0
   인제군   19.0   19.0   22   22   20   18   17   14   14   14   18.0   13.0

사고년도     2017 2018   2019
사고년도       합계   합계     합계
강원 강릉시  109.0   77   78.0
   고성군   11.0    9    8.0
   동해시   23.0   21   20.0
   삼척시   22.0   30   17.0
   속초시   46.0   42   28.0
   양구군   16.0   11    6.0
   양양군   19.0   24   12.0
   영월군    9.0    7    7.0
   원주시  236.0  201  131.0
   인제군   14.0    8    9.0

In [8]:
df

사고년도       2005     2006   2007   2008   2009   2010   2011   2012   2013  \
사고년도         합계       합계     합계     합계     합계     합계     합계     합계     합계
강원 강릉시    245.0    221.0    239    166    207    175    174    160    143
   고성군     21.0     14.0     21     21     27     29     30     19     26
   동해시     52.0     49.0     49     44     59     58     46     51     48
   삼척시     49.0     40.0     33     34     40     19     27     48     39
   속초시     90.0     78.0     62     72     89     92     89     77     59
...         ...      ...    ...    ...    ...    ...    ...    ...    ...
충북 청원군     78.0     96.0     96    122    111    110    129    140    127
   청주시    314.0    386.0    369    364    413    432    499    542    498
   충주시     94.0    137.0    212    145    141    112    191    147    150
   합계     779.0    987.0   1001    991   1027    986   1260   1233   1162
합계 합계   26460.0  29990.0  28416  26873  28207  28641  28461  29093  26589

사고년도     2014     2015     2016     2017   2018     2019
사고년도       합계       합계       합계       합계     합계       합계
강원 강릉시    130    128.0    109.0    109.0     77     78.0
   고성군     10     10.0     11.0     11.0      9      8.0
   동해시     34     52.0     30.0     23.0     21     20.0
   삼척시     40     37.0     27.0     22.0     30     17.0
   속초시     68     69.0     45.0     46.0     42     28.0
...       ...      ...      ...      ...    ...      ...
충북 청원군     50      NaN      NaN      NaN    NaN      NaN
   청주시    513    594.0    446.0    453.0    433    356.0
   충주시    137    134.0    113.0    112.0    127     94.0
   합계    1035   1081.0    851.0    903.0    882    678.0
합계 합계   24043  24399.0  19769.0  19517.0  19381  15708.0

[254 rows x 15 columns]

In [9]:
df = df.fillna(0)

In [10]:
df.loc['세종']

사고년도,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
사고년도,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
세종시,0.0,0.0,0,0,0,-,-,50,78,81,98.0,93.0,89.0,98,89.0
합계,0.0,0.0,0,0,0,-,-,50,78,81,98.0,93.0,89.0,98,89.0

In [11]:
df = df.replace({'2005': '-', '2006' : '-', '2007' : '-', '2008' : '-', '2009' : '-', '2010' : '-', '2011' : '-', '2012' : '-', '2013' : '-', '2014' : '-', '2015' : '-', '2016' : '-', '2017' : '-', '2018' : '-', '2019' : '-'}, 
                {'2005': 0, '2006' : 0, '2007' : 0, '2008' : 0, '2009' : 0, '2010' : 0, '2011' : 0, '2012' : 0, '2013' : 0, '2014' : 0, '2015' : 0, '2016' : 0, '2017' : 0, '2018' : 0, '2019' : 0})

In [12]:
df = df.astype('int')

In [13]:
df = df.xs('합계', level=1, axis=1)

In [18]:
df.columns.name = ''

In [19]:
df

         2005   2006   2007   2008   2009   2010   2011   2012   2013   2014  \
강원 강릉시    245    221    239    166    207    175    174    160    143    130
   고성군     21     14     21     21     27     29     30     19     26     10
   동해시     52     49     49     44     59     58     46     51     48     34
   삼척시     49     40     33     34     40     19     27     48     39     40
   속초시     90     78     62     72     89     92     89     77     59     68
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
충북 청원군     78     96     96    122    111    110    129    140    127     50
   청주시    314    386    369    364    413    432    499    542    498    513
   충주시     94    137    212    145    141    112    191    147    150    137
   합계     779    987   1001    991   1027    986   1260   1233   1162   1035
합계 합계   26460  29990  28416  26873  28207  28641  28461  29093  26589  24043

         2015   2016   2017   2018   2019
강원 강릉시    128    109    109     77     78
   고성군     10     11     11      9      8
   동해시     52     30     23     21     20
   삼척시     37     27     22     30     17
   속초시     69     45     46     42     28
...       ...    ...    ...    ...    ...
충북 청원군      0      0      0      0      0
   청주시    594    446    453    433    356
   충주시    134    113    112    127     94
   합계    1081    851    903    882    678
합계 합계   24399  19769  19517  19381  15708

[254 rows x 15 columns]

In [20]:
df.to_csv('시도구군별_음주운전_데이터_2005_2019.csv')

In [125]:
df.to_excel('시도구군별_음주운전_데이터_2005_2019.xls')

In [33]:
df_pop = pd.read_excel('행정구역_시군구_별__성별_인구수_2005_2019.xls', index_col=[0,1], header=[0,1])
df_pop

시군구               2005      2006      2007      2008      2009      2010  \
행정구역(시군구)별     총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)
합계      합계    48782274  48991779  49268928  49540367  49773145  50515666
서울특별시   합계    10167344  10181166  10192710  10200827  10208302  10312545
        종로구     169315    166793    165846    170705    168603    170578
        중구      130027    130649    130044    130362    129465    132822
        용산구     230260    232035    235832    238224    238708    244853
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      557569    558496    559258    560618    562663    571255
        제주시     303499    403601    405458    407498    410378    417539
        서귀포시     83027    154895    153800    153120    152285    153716
        북제주군     97202         0         0         0         0         0
        남제주군     73841         0         0         0         0         0

시군구               2011      2012      2013      2014      2015      2016  \
행정구역(시군구)별     총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)
합계      합계    50734284  50948272  51141463  51327916  51529338  51696216
서울특별시   합계    10249679  10195318  10143645  10103233  10022181   9930616
        종로구     168382    165207    160070    156993    154986    152737
        중구      133193    133360    130465    128065    125733    125249
        용산구     246501    243232    239740    235951    233342    230241
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      576156    583713    593806    607346    624395    641597
        제주시     422790    429656    438165    448834    459876    470665
        서귀포시    153366    154057    155641    158512    164519    170932
        북제주군         0         0         0         0         0         0
        남제주군         0         0         0         0         0         0

시군구               2017      2018      2019
행정구역(시군구)별     총인구수(명)   총인구수(명)   총인구수(명)
합계      합계    51778544  51826059  51849861
서울특별시   합계     9857426   9765623   9729107
        종로구     154770    153065    151290
        중구      125709    125725    126171
        용산구     229161    228999    228670
...                ...       ...       ...
제주특별자치도 합계      657083    667191    670989
        제주시     478700    485946    489405
        서귀포시    178383    181245    181584
        북제주군         0         0         0
        남제주군         0         0         0

[366 rows x 15 columns]

In [35]:
df_pop = df_pop.xs('총인구수(명)', level=1, axis=1)
df_pop

시군구               2005      2006      2007      2008      2009      2010  \
합계      합계    48782274  48991779  49268928  49540367  49773145  50515666
서울특별시   합계    10167344  10181166  10192710  10200827  10208302  10312545
        종로구     169315    166793    165846    170705    168603    170578
        중구      130027    130649    130044    130362    129465    132822
        용산구     230260    232035    235832    238224    238708    244853
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      557569    558496    559258    560618    562663    571255
        제주시     303499    403601    405458    407498    410378    417539
        서귀포시     83027    154895    153800    153120    152285    153716
        북제주군     97202         0         0         0         0         0
        남제주군     73841         0         0         0         0         0

시군구               2011      2012      2013      2014      2015      2016  \
합계      합계    50734284  50948272  51141463  51327916  51529338  51696216
서울특별시   합계    10249679  10195318  10143645  10103233  10022181   9930616
        종로구     168382    165207    160070    156993    154986    152737
        중구      133193    133360    130465    128065    125733    125249
        용산구     246501    243232    239740    235951    233342    230241
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      576156    583713    593806    607346    624395    641597
        제주시     422790    429656    438165    448834    459876    470665
        서귀포시    153366    154057    155641    158512    164519    170932
        북제주군         0         0         0         0         0         0
        남제주군         0         0         0         0         0         0

시군구               2017      2018      2019
합계      합계    51778544  51826059  51849861
서울특별시   합계     9857426   9765623   9729107
        종로구     154770    153065    151290
        중구      125709    125725    126171
        용산구     229161    228999    228670
...                ...       ...       ...
제주특별자치도 합계      657083    667191    670989
        제주시     478700    485946    489405
        서귀포시    178383    181245    181584
        북제주군         0         0         0
        남제주군         0         0         0

[366 rows x 15 columns]

In [36]:
df_pop = df_pop.astype('int')

In [168]:
df_pop.to_excel('행정구역_시군구별_인구수_2005_2019.xls')

In [40]:
df_pop.to_csv('행정구역_시군구별_인구수_2005_2019.csv', encoding='utf-8-sig')

In [41]:
df_pop = pd.read_csv('행정구역_시군구별_인구수_2005_2019.csv', header=[0], index_col=[0,1])
df_pop

                  2005      2006      2007      2008      2009      2010  \
합계      합계    48782274  48991779  49268928  49540367  49773145  50515666
서울특별시   합계    10167344  10181166  10192710  10200827  10208302  10312545
        종로구     169315    166793    165846    170705    168603    170578
        중구      130027    130649    130044    130362    129465    132822
        용산구     230260    232035    235832    238224    238708    244853
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      557569    558496    559258    560618    562663    571255
        제주시     303499    403601    405458    407498    410378    417539
        서귀포시     83027    154895    153800    153120    152285    153716
        북제주군     97202         0         0         0         0         0
        남제주군     73841         0         0         0         0         0

                  2011      2012      2013      2014      2015      2016  \
합계      합계    50734284  50948272  51141463  51327916  51529338  51696216
서울특별시   합계    10249679  10195318  10143645  10103233  10022181   9930616
        종로구     168382    165207    160070    156993    154986    152737
        중구      133193    133360    130465    128065    125733    125249
        용산구     246501    243232    239740    235951    233342    230241
...                ...       ...       ...       ...       ...       ...
제주특별자치도 합계      576156    583713    593806    607346    624395    641597
        제주시     422790    429656    438165    448834    459876    470665
        서귀포시    153366    154057    155641    158512    164519    170932
        북제주군         0         0         0         0         0         0
        남제주군         0         0         0         0         0         0

                  2017      2018      2019
합계      합계    51778544  51826059  51849861
서울특별시   합계     9857426   9765623   9729107
        종로구     154770    153065    151290
        중구      125709    125725    126171
        용산구     229161    228999    228670
...                ...       ...       ...
제주특별자치도 합계      657083    667191    670989
        제주시     478700    485946    489405
        서귀포시    178383    181245    181584
        북제주군         0         0         0
        남제주군         0         0         0

[366 rows x 15 columns]

In [32]:
df_pop = pd.read_excel('행정구역_시군구별_인구수_2005_2019.xls', header=[0], index_col=[0,1])
df_pop

                           2005      2006      2007      2008      2009  \
행정구역       시군구
행정구역(시군구)별 행정구역(시군구)별   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)
합계         합계          48782274  48991779  49268928  49540367  49773145
서울특별시      합계          10167344  10181166  10192710  10200827  10208302
           종로구           169315    166793    165846    170705    168603
           중구            130027    130649    130044    130362    129465
...                         ...       ...       ...       ...       ...
제주특별자치도    합계            557569    558496    559258    560618    562663
           제주시           303499    403601    405458    407498    410378
           서귀포시           83027    154895    153800    153120    152285
           북제주군           97202         0         0         0         0
           남제주군           73841         0         0         0         0

                           2010      2011      2012      2013      2014  \
행정구역       시군구
행정구역(시군구)별 행정구역(시군구)별   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)
합계         합계          50515666  50734284  50948272  51141463  51327916
서울특별시      합계          10312545  10249679  10195318  10143645  10103233
           종로구           170578    168382    165207    160070    156993
           중구            132822    133193    133360    130465    128065
...                         ...       ...       ...       ...       ...
제주특별자치도    합계            571255    576156    583713    593806    607346
           제주시           417539    422790    429656    438165    448834
           서귀포시          153716    153366    154057    155641    158512
           북제주군               0         0         0         0         0
           남제주군               0         0         0         0         0

                           2015      2016      2017      2018      2019
행정구역       시군구
행정구역(시군구)별 행정구역(시군구)별   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)   총인구수(명)
합계         합계          51529338  51696216  51778544  51826059  51849861
서울특별시      합계          10022181   9930616   9857426   9765623   9729107
           종로구           154986    152737    154770    153065    151290
           중구            125733    125249    125709    125725    126171
...                         ...       ...       ...       ...       ...
제주특별자치도    합계            624395    641597    657083    667191    670989
           제주시           459876    470665    478700    485946    489405
           서귀포시          164519    170932    178383    181245    181584
           북제주군               0         0         0         0         0
           남제주군               0         0         0         0         0

[367 rows x 15 columns]

In [165]:
df.sort_index()

사고년도     2005   2006   2007   2008   2009   2010   2011   2012   2013   2014  \
강원 강릉시    245    221    239    166    207    175    174    160    143    130
   고성군     21     14     21     21     27     29     30     19     26     10
   동해시     52     49     49     44     59     58     46     51     48     34
   삼척시     49     40     33     34     40     19     27     48     39     40
   속초시     90     78     62     72     89     92     89     77     59     68
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
충북 청원군     78     96     96    122    111    110    129    140    127     50
   청주시    314    386    369    364    413    432    499    542    498    513
   충주시     94    137    212    145    141    112    191    147    150    137
   합계     779    987   1001    991   1027    986   1260   1233   1162   1035
합계 합계   26460  29990  28416  26873  28207  28641  28461  29093  26589  24043

사고년도     2015   2016   2017   2018   2019
강원 강릉시    128    109    109     77     78
   고성군     10     11     11      9      8
   동해시     52     30     23     21     20
   삼척시     37     27     22     30     17
   속초시     69     45     46     42     28
...       ...    ...    ...    ...    ...
충북 청원군      0      0      0      0      0
   청주시    594    446    453    433    356
   충주시    134    113    112    127     94
   합계    1081    851    903    882    678
합계 합계   24399  19769  19517  19381  15708

[254 rows x 15 columns]

In [167]:
df_pop = df_pop.sort_index()