In [1]:
import folium
import pandas as pd
import requests
import json
import webbrowser

In [12]:
filename = '시도구군별_음주운전_데이터_2005_2019.csv'
df = pd.read_csv(filename, header=[0], index_col=[0,1], skipfooter=1, encoding='utf-8')
df

        2005  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
강원 강릉시   245   221   239   166   207   175   174   160   143   130   128
   고성군    21    14    21    21    27    29    30    19    26    10    10
   동해시    52    49    49    44    59    58    46    51    48    34    52
   삼척시    49    40    33    34    40    19    27    48    39    40    37
   속초시    90    78    62    72    89    92    89    77    59    68    69
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
충북 진천군    35    48    49    37    36    42    46    44    50    54    59
   청원군    78    96    96   122   111   110   129   140   127    50     0
   청주시   314   386   369   364   413   432   499   542   498   513   594
   충주시    94   137   212   145   141   112   191   147   150   137   134
   합계    779   987  1001   991  1027   986  1260  1233  1162  1035  1081

        2016  2017  2018  2019
강원 강릉시   109   109    77    78
   고성군    11    11     9     8
   동해시    30    23    21    20
   삼척시    27    22    30    17
   속초시    45    46    42    28
...      ...   ...   ...   ...
충북 진천군    53    63    68    37
   청원군     0     0     0     0
   청주시   446   453   433   356
   충주시   113   112   127    94
   합계    851   903   882   678

[253 rows x 15 columns]

In [13]:
df1 = df.xs('합계',level=1)
df1

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
강원,1297,1301,1268,1256,1401,1310,1265,1234,1066,909,959,708,777,679,492
경기,6369,7267,6939,6393,6236,7163,7120,7180,6543,5765,6032,4961,5020,5090,4140
경남,1668,2002,1853,1696,1839,1590,1486,1592,1569,1431,1397,981,926,958,870
경북,2262,2520,2381,2283,2297,2090,2157,2051,1710,1664,1596,1268,1207,1190,1060
광주,701,902,849,848,1172,1167,1104,1207,1058,913,874,764,688,675,549
대구,1531,1739,1582,1409,1470,1510,1417,1395,1281,1219,1134,938,890,890,702
대전,669,749,725,736,914,792,849,930,931,751,736,665,556,594,472
부산,1525,1737,1298,1141,1271,1169,1155,1226,1166,996,1024,789,709,743,636
서울,3510,3914,3853,3481,3529,3910,3700,3819,3550,3361,3453,2874,2864,2856,2190
세종,0,0,0,0,0,0,0,50,78,81,98,93,89,98,89
울산,568,774,726,765,796,744,839,900,871,874,807,603,523,567,373
인천,1471,1436,1330,1360,1352,1439,1562,1499,1331,1180,1185,1049,1000,938,770
전남,1375,1548,1475,1469,1585,1462,1354,1344,1325,1156,1176,904,905,908,793
전북,1045,1187,1152,1086,1283,1177,1083,1193,1003,882,920,753,772,683,579
제주,293,365,354,313,347,349,350,458,416,415,466,365,319,322,296
충남,1397,1562,1630,1646,1688,1783,1760,1782,1529,1411,1461,1203,1369,1308,1019
충북,779,987,1001,991,1027,986,1260,1233,1162,1035,1081,851,903,882,678

In [16]:
df1 = df1.rename(index={'서울':'서울특별시','부산':'부산광역시','대구':'대구광역시',
                      '광주':'광주광역시','대전':'대전광역시','인천':'인천광역시',
                      '울산':'울산광역시','세종':'세종특별자치시','경기':'경기도',
                      '강원':'강원도','충북':'충청북도','충남':'충청남도','전남':'전라남도',
                      '경북':'경상북도','경남':'경상남도','제주':'제주특별자치도','전북':'전라북도'})

In [17]:
df1['2005']

강원도        1297
경기도        6369
경상남도       1668
경상북도       2262
광주광역시       701
대구광역시      1531
대전광역시       669
부산광역시      1525
서울특별시      3510
세종특별자치시       0
울산광역시       568
인천광역시      1471
전라남도       1375
전라북도       1045
제주특별자치도     293
충청남도       1397
충청북도        779
Name: 2005, dtype: int64

In [ ]:
year = '2019'

In [20]:
map_osm = folium.Map(location=[37.566345,126.977893],zoom_start=7)
rfile = open('skorea-provinces-2018-geo.json', 'r', encoding='utf-8').read()
jsonData = json.loads(rfile)
folium.Choropleth(geo_data=jsonData,
                  data=df1[year],
                  columns=[df1.index,year],
                  key_on='feature.properties.name',
                  fill_color='YlGn',
                  fill_opacity=0.7,
                  line_opacity=0.3,
                  legend_name='음주사고건수').add_to(map_osm)
map_osm.save('test.html')